# Dependências e builds
node_modules/
.expo/
dist/
web-build/
build/
bin/
lib/**/*.js
lib/**/*.js.map
typings/

# Chaves de segurança e banco de dados (CRÍTICO)
chave-firebase.json
.env
.env*.local
*.local

# Firebase e logs
.firebase/
.dataconnect
logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# Android e configurações do sistema
android/.gradle/
android/build/
android/app/build/
android/local.properties
.DS_Store
.idea/